{% extends 'main.html' %}
{% load static %}
{% load filename %}


{% block nav%}
	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">Hello, {{request.user}}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		</li>
	</ul>
{% endblock nav%}
{% block content%}



			<form method="POST">
			{% csrf_token %}
			<div style="position: fixed;left: 50%;top: 50%; transform: translate(-50%, -50%);">
			<div class="card card-custom text-center text-dark bg-danger mb-3">
			  <div class="h1 card-header">
			    Delete file?
			  </div>
			  <div class="card-body">
			    <p class="card-title">Are you sure you want to delete the file <strong>{{ item.file_field | filename }}</strong></p>
					<div clas="form-group">
						<button class="btn btn-warning" type="submit">Yes, Delete</button>
						<a class="btn btn btn-outline-dark" href="{% url 'dashboard'%}" >Cancel</a>
					</div>
			  </div>
			</div>
			</div>
			</form>

{% endblock content%}
{% block footer %}

<footer class="p-2 text-white text-center fixed-bottom" style="background-color: black;">
{% endblock footer %}
