{% extends 'main.html' %}
{% load static %}




{% block nav%}
	<ul class="navbar-nav ms-auto">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">Hello, {{request.user}}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		</li>
	</ul>
{% endblock nav%}
{% block content%}
<br><br>
	<header>
		<h1 style="text-align:center"> Upload File </h1>
	</header>
	<br><br>
	<div class="card-custom m-3 p-3">
				<a href="{% url 'dashboard' %}" class="btn btn-primary m-2"><i class="bi bi-arrow-left"> Back </i></a>

			<br>
			<div class="container">
			  <div class="row m-3">
				<div class="col wf">
				  <h3 style="text-align:center">'Browse' to upload.</h3><hr>

				  <form method="post" file enctype="multipart/form-data">
				    {% csrf_token %}
				    {{form}}
				    <button type="submit" class="btn btn-success btn-sm">Upload</button>
				  </form>

				<br>

				</div>
			</div>
			</div>
			</div>
{% endblock content%}

{% block footer %}

<footer class="p-2 text-white text-center fixed-bottom" style="background-color: black;">
{% endblock footer %}
