body{
	background-color: #dbdbd9;
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
	display: flex;
	flex-direction: column;
}

table {
	color: blue;
}


body .a{
  color:white;
  text-decoration: none;
}

.btn{
	font-size: 20px;
}

.wf {
		outline: 1px solid black;
	}


.icon-white {
  color: white;
}
